@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Merienda:wght@400;700&family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700&display=swap");
:root {
  --background: #3e3e3e;
  --navbar: #191919;
  --green-text: #d8e9a8;
  /* --foreground: #222222; */
  /* --green-text: #91a35e; */
  /* --post-background: #191919; */
  --alt-green-text: #f6ff92;
  --nav-height: 117px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
body {
  background-color: var(--background) !important;
}
/* using ul directly coz i cba to make classes for this and i dont think anyone wants list-style anyway */
ul {
  list-style: none;
}

/* ------Header css------ */
.navbar {
  background-color: var(--navbar);
  height: 15vh;
  position: fixed;
}

.navbar-brand,
.nav-link {
  color: var(--green-text) !important;
  font-family: "Merienda", cursive;
  font-size: 1.25rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 3rem !important;
}

.nav-item {
  margin: 0 0.5em;
}

.add-post {
  background-color: #35463b;
  color: var(--green-text);
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 100%;
}

/* ------Landing page css------ */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  text-align: center;
  font-family: "McLaren", cursive;
}

.landing-title {
  color: #beffb0;
  font-weight: bold;
  font-size: 120px;
}

.landing-text {
  color: #84c577;
  font-size: 24px;
}

.landing-text span {
  color: #beffb0;
  font-weight: bold;
  font-size: 32px;
}

.landing-signin-btn {
  background-color: #202020;
  color: var(--green-text);
  height: 60px;
  width: 120px;
  border: none;
  border-radius: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 2% 0;
}

.landing-signup,
.landing-signup a {
  color: white;
  text-decoration: none;
}

/* Homepage CSS */
.homepage-container {
  /* display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 1fr; */
  height: 85vh;
  overflow-y: scroll;
  width: 75vw;
  margin-left: 25vw;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 3em;
  /* background-color: #3e3e3e; */
}

.sidebar {
  background-color: var(--navbar);
  font-family: "Martel Sans";
  height: 85vh;
  width: 25vw;
  position: fixed;
}

.sidebar-user-info {
  color: var(--alt-green-text);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2em;
}

.sidebar-user-img-temp {
  background-color: black;
  border: var(--green-text) 1px solid;
  color: var(--green-text);
  /* font-size: 2em; */
  /* padding: 0.5em; */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-username {
  padding: 0;
  margin: 0 1em;
}

.divider {
  color: #c1fff4;
  opacity: 0.75;
  margin: 0;
}

.reccomendations {
  margin: 1em;
  color: white;
}
.recco-title {
  color: var(--green-text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}
.reccomendations ul {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.reccomendations li {
  margin: 1em;
  font-weight: bold;
  font-size: 1rem;
}
.post-placeholder {
  height: 100%;
  /* margin: 2em 3em; */
  background-color: var(--navbar);
  width: 100%;
  max-width: 750px;
  position: relative;
}

/* Comment CSS */
.comment {
  /* padding: 1em; */
  color: white;
}
.comment-user-info {
  color: var(--alt-green-text);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2em 1em 1em 2em;
}
.comment-user-img-temp {
  background-color: black;
  border: var(--green-text) 1px solid;
  color: var(--green-text);
  /* font-size: 2em; */
  /* padding: 0.5em; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-info-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.comment-date {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  opacity: 0.5;
}
.comment-body {
  margin-left: 100px;
}

.votes-replies {
  margin: 1em 0;
}

/* Reply CSS */
.reply {
  margin-left: 5em;
  color: white;
  border-left: var(--background) 5px solid;
}
.reply-user-info {
  color: var(--alt-green-text);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1em 2em;
}
.reply-user-img-temp {
  background-color: black;
  border: var(--green-text) 1px solid;
  color: var(--green-text);
  /* font-size: 2em; */
  /* padding: 0.5em; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply-info-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.reply-date {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  opacity: 0.5;
}
.reply-body {
  margin-left: 100px;
  font-size: 0.9em;
}

/*! Posts */
.skeleton {
  background-color: hsla(120, 2%, 10%, 0.5) !important;
}

.post {
  width: 100% !important;
  margin: auto 0;
  padding: 0 !important;
  background-color: var(--navbar);
}

p {
  color: var(--alt-green-text);
}

p .answer {
  color: white !important;
}

.questionSection {
  padding: 12px 12px 8px !important;
  background-color: var(--navbar);
  border-color: var(--green-text);
}

.questionSection h4 {
  color: #cdf2a8 !important;
}

.follow .followBtn {
  width: 60px;
  height: 30px;
  font-size: 10px;
  padding-left: 8px;
  color: #fff !important;
}

.answerCount p {
  color: #c1fff4;
}

.clickable {
  cursor: pointer;
}

/* .clickable:hover {
	cursor: pointer;
	background-color: black;
	opacity: 0.2;
} */

.answer {
  color: #fff;
}

.commentBar {
  color: white;
}

.likes,
.dislikes {
  background-color: #000;
  width: 100px;
  margin: auto 0 !important;
  padding-bottom: 4px !important;
}
.likes {
  border-radius: 30px 0 0 30px;
  border-right: 1px solid #888888;
}

.dislikes {
  border-radius: 0 30px 30px 0;
  border-left: 1px solid #888888;
}

.shareIcon {
  width: 50px;
  background-color: #84c577;
  height: 40px;
}

.share {
  color: #fff;
}

.lineBreak {
  margin: 10px auto 10px;
  color: #c1fff4;
  background-color: #c1fff4;
  height: 3;
}

.commentIcon {
  width: 32px;
  height: 32px;
}

/* Ask Question */
.askQuestion__ques {
  width: 65%;
  margin: 45px auto;
}

.askQuestion__ques h2 {
  color: #fff;
  margin-bottom: 10px;
}

.askQuestion__ques hr {
  color: #c1fff4;
  height: 3px;
}

.askQuestion__category {
  width: 300px;
  /* background-color: #202020; */
}

.askQuestion__dropdown {
  width: 300px;
  /* background-color: #202020; */
}

.askQuestion__dropdown label,
.askQuestion__dropdown svg,
.askQuestion__dropdown fieldset {
  color: white;
  border-color: white !important;
}

.askQuestion__dropdown .MuiSelect-select,
.Mui-focused {
  color: white !important;
}

.askQuestion__dropdown .MuiOutlinedInput-root {
  background-color: #202020;
}

.askQuestion__content {
  background-color: #202020;
  margin-top: 30px;
  border-radius: 8px;
}

.askQuestion__title,
.askQuestion__body {
  margin: 25px !important;
  width: 95% !important;
}

.askQuestion__title label,
.askQuestion__body label {
  color: white;
}

.askQuestion__title fieldset,
.askQuestion__body fieldset {
  border-color: #c1fff4 !important;
}

.askQuestion__post {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  padding-bottom: 25px;
}

.askQuestion__button {
  background-color: #d8e9a8 !important;
  border-radius: 20px !important;
  color: black !important;
}

.askQuestion__body textarea,
.askQuestion__title input {
  color: white;
}

/* .askQuestion__title legend {
	color: white !important;
} */

.load-cont {
  height: calc(100vh - var(--nav-height));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green-text);
  flex-direction: column;
}

.signin-error {
  color: #ff5757;
}

.answer p {
  color: white;
}
