.css-107w94t {
	background-color: var(--background) !important;
	overflow-y: scroll;
}

.css-5lbw0b-MuiTypography-root {
	color: white;
}

.ql-toolbar {
	background-color: white;
}

.ql-editor {
	min-height: 350px;
	background-color: black;
}

.ql-editor > * {
	color: white;
}

/* .ql-editor p {
	display: flex;
	justify-content: center;
} */

.ql-editor p img {
	/**/
	width: 30%;
	/* display: flex; */
}

/* .ql-editor > p > strong {
  color: var(--alt-green-text) !important;
} */

.answerModal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.answerModal__closeIcon:hover {
	cursor: pointer;
	background-color: black;
	opacity: 0.2;
	border-radius: 50%;
}

.answerModal__description {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	margin: 1rem 0;
}

.answerModal__submit_wrapper {
	display: flex;
	justify-content: right;
	margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
	.answerModal__description {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0;
		align-items: center;
	}
	.ql-editor {
		min-height: 250px;
	}
	.ql-editor p img {
		width: 40%;
		/* display: flex; */
	}

	.answerModal__header h2 {
		font-size: 1.75rem;
	}
}
