.css-107w94t {
  background-color: var(--background) !important;
  /* overflow-y: scroll; */
}

.css-5lbw0b-MuiTypography-root {
  color: white;
}

.ql-toolbar {
  background-color: white;
}

.ql-editor {
  height: 45vh;
  background-color: black;
  overflow: scroll;
}

.ql-editor > * {
  color: white;
}

/* .ql-editor p {
	display: flex;
	justify-content: center;
} */

.ql-editor p img {
  /**/
  width: 30%;
  /* display: flex; */
}

/* .ql-editor > p > strong {
  color: var(--alt-green-text) !important;
} */

.answerModal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answerModal__closeIcon:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.2;
  border-radius: 50%;
}

.answerModal__description {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
  color: var(--green-text);
}

.answerModal__submit_wrapper {
  display: flex;
  justify-content: right;
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .answerModal__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    align-items: center;
  }
  .ql-editor {
    min-height: 250px;
  }
  .ql-editor p img {
    width: 40%;
    /* display: flex; */
  }

  .answerModal__header h2 {
    font-size: 1.75rem;
  }
}

.answerDetails {
  font-family: "Montserrat";
}

.answerModal {
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  transition: 0.2s ease;
  font-family: "Montserrat";
}
.answerModal:hover {
  background-color: var(--background);
}
.answerModal:active {
  transition: 0.1s linear;
  background-color: grey;
}
